
@{
    ViewData["Title"] = "ResultTwo";
}

<h1>Register</h1>
<form action="Result">
    <div>
        <label>Name</label>
        <input name="Name" />
    </div> 
    <div>
        <label>Age</label>
        <input name="Age" type="number" />
    </div>
   <button type="submit">Submit</button>
</form>

